@import '../variables.scss';
@import '../theme/util/util.scss';

.homepage{
    &__banner{
        position: relative;
        height:fit-content;
        min-height: rem-calc(500);

        &-background{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #2d3842;
            opacity: 0.4;
        }
        &-content{
            height:fit-content;
            min-height: rem-calc(500);
            position: relative;
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            gap: rem-calc(10);
            text-align: center;
            color: #fff;
            &-green{
                font-weight: bold;
                font-size: rem-calc(26);
                padding:rem-calc(5 21);
                background-color: $green;
                border-radius: rem-calc(24);
            }
            &-main{
                font-weight: bold;
                font-size: clamp(rem-calc(32), 8vw, rem-calc(60));
                line-height: clamp(rem-calc(36), 8vw, rem-calc(64));
                text-shadow: 0px 3px 46px rgba(0, 0, 0, 0.16);
                max-width: rem-calc(900);
            }
            &-sub{
                font-weight: 500;
                font-size: 20px;     
            }
        }
    }

    
}